<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Take photos to remember each state you visited.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Access your photo library to import pictures from your visit dates.</string>
</dict>
</plist>
